<div class="row">
  <div class="col-md-8">
    <div class="media">
      <br />
      <% avatar_url = @user.avatar_url(128) %>
      <% if avatar_url %>
        <div class="media-left">
          <%= image_tag avatar_url, class: 'media-object' %>
        </div>
        <% end %>
        <div class="media-body">
          <h2 class="media-heading"><%= @user.name %></h2>
          <small>
            <%= pluralize(@user.posts.count, 'post') %>,
            <%= pluralize(@user.comments.count, 'comment') %>
          </small>
        </div>
        <div>
        <h2>Posts</h2>
        <%= detect_post_activity(@user) %>

        <h2>Comments</h2>
        <%= detect_comment_activity(@user) %>
      </div>
    </div>
  </div>
  <div class="col-md-4">
    <div class="media">
      <h2>Favorites</h2>
      <% @user.favorites.each do |fave| %>
      <ul>
        <li><%= find_faves(fave.id).title %><br>
          <small><%= image_tag find_faves(fave.id).user.avatar_url(24), class: "gravatar" %> </small>
          <small><%= find_faves(fave.id).votes.count %> Votes, <%= find_faves(fave.id).comments.count %> Comments</small>
        </li>
      </ul>
      <% end %>
    </div>
  </div>
</div>
